/* typography */
html{
	font-size: 15px;
}
h1{
	font-family: Inter;
font-style: normal;
font-weight: 700;
font-size: 2.66em;
line-height: 1.15em;
color: #333333;
}
.descr, p ,li{
	font-size: 1em;
	font-family: Inter;
font-style: normal;
font-weight: 400;
line-height: 133.5%;
color: #666666;
}
h2{
	font-family: Inter;
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
color: #333333;
}
.bloc-t{
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 125%;
	color: #333333;
	margin-bottom: 10px;
}

/* grid */
.s-c{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}
.c-e{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	align-content: flex-end;
}
.col-s-e{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
}
.content{
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
}
.container{
	display: flex;
    flex-wrap: wrap;

}
.c-50{
	width: 50%;
	flex: 0 0 50%;

}
.c-33{
	width: 33.3333%;
	flex: 0 0 33.3333%;
}
.c-70{
	width: 70%;
	flex: 0 0 70%;
}
.c-30{
	width: 30%;
	flex: 0 0 30%;
}
.c-60{
	width: 60%;
	flex: 0 0 60%;
}
.c-40{
	width: 40%;
	flex: 0 0 40%;
}
/* buttons */
.p-btn{
	font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 1.05em;
line-height: 133.5%;
color: #FFFFFF;
background: #D92929;
border-radius: 3px;
padding: 15px 40px;
}
.anchor-link{
	font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 1.05em;
line-height: 133.5%;
color: #D92929;
}


/* hero-full */
.hero-full{
	background: #F6F6F7;
	border-radius: 8px;
}
.hero-full .container{
	display: flex;
}
.ht-btn{
	padding-top: 4em;
}
.hf-t-c{
padding: 2.5em 0em 2.5em 3em;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 50%;
}
.hf-img {
	flex-grow: 2;
	flex-shrink: 2;
	flex-basis: 50%;
}
.hf-img img{
	width: 100%;
	max-width: 520px;
}
.hero-full h1{
	margin-bottom: 1.25rem;
}
.hf-list{
	list-style: none;
	padding-left: 24px;

}
.hf-list li{
	margin-bottom: 0.75rem;
	position: relative;
}
.hf-list li:before{
content:'';
position: absolute;
width: 8px;
left: -24px;
top: 0.35rem;
height: 8px;
border-radius: 8px;
background: #D92929;
}
.hero-full .anchor-link{
	margin-left: 1.75rem;
}
.hero-full .hf-d{
	max-width: 380px;
}


/* cards-block */
.cards-block{
	margin-top: 72px;
	background: #F6F6F7;
	padding: 71px 0px;
}
.cards-block .container{
	margin-right:-10px;
	margin-left:-10px;
}
.cb-content{
	height: 100%;
	position: relative;
	z-index: 10;
	padding: 20px 0px 25px 20px;
	min-height: 236px;
	background: #FFFFFF;
	border-radius: 5px;
	overflow: hidden;
}
.cb-card{

padding: 0 10px;
}
.cb-c-img{
position: absolute;
bottom: 0;
right: 0;
width: 40%;
}
.cb-descr,.cb-t{
	z-index: 10;
	position: relative;
	max-width: 65%;
}