/* typography */
html{
	font-size: 15px;
}
body{
	padding-top: 74px;
}
h1{
	font-family: Inter;
font-style: normal;
font-weight: 700;
font-size: 2.66rem;
line-height: 1.15em;
color: #333333;
}
.descr, p ,li{
	font-size: 1em;
	font-family: Inter;
font-style: normal;
font-weight: 400;
line-height: 133.5%;
color: #666666;
}
.color-black{
	color: #333333;
}
h2{
	font-family: Inter;
font-style: normal;
font-weight: 700;
font-size: 2rem;
line-height: 36px;
color: #333333;
}
.bloc-t{
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 125%;
	color: #333333;
	margin-bottom: 10px;
}
.before-title{
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 1.333rem;
	line-height: 105%;
	color: #D92929;
	margin-bottom: 0px;
}
@media(max-width:832px){
	h1{
		font-size: 2rem;
	}
	h2{
		font-size: 1.75rem;
	}
}
@media(max-width:786px){
	html{
		font-size: 13px;
	}
}

@media(max-width:425px){
	h1{
		font-size: 1.8rem;
	}
	h2{
		font-size: 1.6rem;
		line-height: 1.2;
	}
	.before-title{
		font-size: 0.8rem;
	}
}
/* grid */
.s-c{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}
.c-c{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.c-e{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	align-content: flex-end;
}
.col-s-e{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
}
.col-s-s{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}
.content{
	max-width: 1240px;
	width: 94%;
	margin: 0 auto;
}
.container{
	display: flex;
    flex-wrap: wrap;

}
.c-50{
	width: 50%;
	flex: 0 0 50%;

}
.c-33{
	width: 33.3333%;
	flex: 0 0 33.3333%;
}
.c-70{
	width: 70%;
	flex: 0 0 70%;
}
.c-30{
	width: 30%;
	flex: 0 0 30%;
}
.c-60{
	width: 60%;
	flex: 0 0 60%;
}
.c-40{
	width: 40%;
	flex: 0 0 40%;
}
/* buttons */
.p-btn{
	font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 1.05em;
line-height: 133.5%;
color: #FFFFFF;
background: #D92929;
border-radius: 3px;
padding: 15px 40px;
white-space: nowrap;
outline: none;
border:none;
cursor: pointer;
box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.1);
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
transition-property: transform,box-shadow;
}
.p-btn:focus,.p-btn:active{
	outline: none;
	border:none;
}
.p-btn:hover{
	box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.2);
	transform: translate(0,-5px);
}
@media(max-width:962px){
	.p-btn{
		padding: 12px 30px;
	}
	.p-btn:hover{
		transform: translate(0,-4px);
	}
}
@media(max-width:425px){
	.p-btn{
		padding: 10px 20px;
}
.p-btn:hover{
	transform: translate(0,-2px);
}
}
.anchor-link{
	font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 1.05em;
line-height: 133.5%;
color: #D92929;
position: relative;
z-index: 10;
white-space: nowrap;
}
.al-icon-box{
	width: 20px;
	height: 20px;
	flex: 0 0 20px;
	opacity: 0;
	transform: translate(-20%,0);
	transition: transform 200ms linear, opacity 200ms ease-in;
}
.al-icon-box img{
	width: 100%;
}
.anchor-link:hover{
	color: #D92929;
	text-decoration: none;
}
.anchor-link:hover .al-icon-box{
	opacity: 1;
	transform: translate(0%,0);
}

/* hero-full */
.hero-full{
	background: #F6F6F7;
	border-radius: 8px;
}
.hero-full .container{
	display: flex;
}
.ht-btn{
	padding-top: 3rem;
}
.hf-t-c{
padding: 2.5em 0em 2.5em 3em;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 50%;
}
.hf-img {
	flex-grow: 2;
	flex-shrink: 2;
	flex-basis: 50%;
}
.hf-img img{
	width: 100%;
	max-width: 520px;
}
.hero-full h1{
	margin-bottom: 1.25rem;
}
.hf-list{
	list-style: none;
	padding-left: 24px;
	margin-bottom: 0;

}
.hf-list li{
	margin-bottom: 0.75rem;
	position: relative;
}
.hf-list li:before{
content:'';
position: absolute;
width: 8px;
left: -24px;
top: 0.35rem;
height: 8px;
border-radius: 8px;
background: #D92929;
}
.hero-full .anchor-link{
	margin-left: 1.75rem;
}
.hero-full .hf-d{
	max-width: 380px;
}
@media(max-width:1186px){
	.hf-t-c{
		padding: 2rem 0em 2rem 2.5rem;
	}
	.hf-img{
		padding-right: 15px;
	}
}
@media(max-width:962px){
	.hero-content{
		width: 100%;
	}
	.hero-full .container{
		width: 94%;
		margin: 0 auto;

	}

	.hf-img{
		padding: 0;
	}
	.hf-t-c{
		padding: 2rem 0;
	}
	.p-btn{
		padding: 12px 30px;
	}
	.ht-btn .anchor-link{
		display: none;
			}
}
@media(max-width:962px) and (min-width:778px){
	.hf-t-c{
		flex-basis: 40%;
	}
	.ht-btn{
		padding-top: 2rem;
	}
}

@media(max-width:778px){
	.hf-img img{
		width: auto;
		height: 300px;
	}
	.hero-full .container{
		width: 100%;
		flex-wrap: nowrap;
	}
	.hf-t-c{
		padding-left: 3%;
		min-width: 200px;
	}
	.ht-btn{
		padding:0;
		margin-top: 1rem;
	}
	.hero-content{
		overflow: hidden;
		position: relative;
	}
	.hf-img{
		justify-content: flex-start;
	}

}
@media(max-width:425px){
	.ht-btn .p-btn{
		padding: 8px 20px;
}
}
/* cards-block */
.cards-block{
	margin-top: 72px;
	background: #F6F6F7;
	padding: 72px 0px;
}
.cards-block .container{
	margin-right:-10px;
	margin-left:-10px;
}
.cb-content{
	height: 100%;
	position: relative;
	z-index: 10;
	padding: 20px 0px 25px 20px;
	min-height: 236px;
	background: #FFFFFF;
	border-radius: 5px;
	overflow: hidden;

}
.cb-card{
	margin-bottom: 20px;
padding: 0 10px;
}
.cb-c-img{
position: absolute;
bottom: 0;
right: 0;
width: 45%;
}
.cb-descr{
	z-index: 10;
	position: relative;
	max-width: 210px;
}
.cb-t{
	z-index: 10;
	position: relative;
}
@media(max-width:1174px){
	.cards-block .c-33{
		width: 50%;
    flex: 0 0 50%;
	}
	.cb-content{
		height: 220px;
	}
}
@media(max-width:786px){
	.cards-block .c-33{
		width: 50%;
    flex: 0 0 50%;
	}
	.cb-content{
		min-height: 220px;
	}
}
@media(max-width:648px){

	.cards-block .container{
		overflow-x: scroll; 
		flex-wrap: nowrap;
		margin-left: -3%;
		margin-right: -3%;
	}
	.cards-block .c-33{
		width: 300px;
    flex: 0 0 300px;
	}
	.cb-content{
		min-height: auto;
		height: 170px;
		padding: 15px 0px 20px 15px;
	}
	.cb-card:first-child{
		margin-left: calc(3% - 10px);
	}
	.cb-card:last-child{
		margin-right: calc(3% - 10px);
	}
	.cb-c-img{
		transform: translate(10%,0);
	}
	.cb-descr{
		max-width: 60%;
	}
	.cards-block{
		padding: 24px 0px;
		padding-bottom: 4px;
	}
	
}

@media(max-width:425px){
	.cards-block{
		margin-top: 2.5rem;
	}
}
/* card-section */
.catalog-section{
	margin-top: 72px;
}
.cs-card-wrapper{
	padding: 0 10px;
	margin-bottom: 20px;
	min-width: 200px;
	max-width: 16.66%;
	flex: 0 1 16.66%;
}

.cs-t{
	margin-bottom: 35px;
}
.catalog-section .container{
	margin-left: -10px;
	margin-right: -10px;
}
.cs-card-content{
	background: #FFFFFF;
box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.1);
border-radius: 5px;
min-height: 226px;
position: relative;
overflow: hidden;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
transition-property: transform,box-shadow;
}
.cs-card-content:hover{
	box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.25);
	transform: translate(0,-4px);
}
.cs-card-t{
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 115%;
	color: #333333;
	padding: 0 15px;
	margin-bottom: 0.8rem;
}
.cs-card-descr{
	font-size: 0.86rem;
	color: rgba(0, 0, 0, 0.7);
	margin-bottom: 0.5rem;
	padding: 0 15px;
}
.cs-card-read{
margin-top: auto;
width: 100%;
padding: 16px 15px 16px 15px;
border-top:1px solid #F0F0F0;
background: #FFFFFF;
cursor: pointer;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
transition-property: color,background;
font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 0.86rem;
line-height: 133.5%;
color: #333333;
}
@media(max-width:648px){
	.cs-card-read{
		font-size: 1rem;
	}
	.cs-card-content{
		min-height: 210px;
	}
}
.cs-card-read:hover{
	background: #D92929;
	color: #FFFFFF;
}
.cs-barand-logo{
height: 18px;
	margin-top:15px;
	margin-bottom: 20px;
	margin-left: 15px;
}
.cs-barand-logo img{
	height: 100%;
	width: auto;
}
.cs-document{
	position: absolute;
width: 26px;
height: 26px;
right: 10px;
top: 10px;
}
@media(max-width:1254px){
	.cs-card-wrapper{
		max-width: 20%;
		flex: 0 1 20%;
	}
}
@media(max-width:1044px){
	.cs-card-wrapper{
		max-width: 25%;
		flex: 0 1 25%;
	}
}
@media(max-width:832px){
	.cs-card-wrapper{
		max-width: 33%;
		flex: 0 1 33%;
	}
}
@media(max-width:648px){
	.cs-card-wrapper{
		max-width: 200px;
		flex: 0 1 200px;
	}
	.catalog-section .container{
		overflow-x: scroll;
		flex-wrap: nowrap;
		margin-left: -3%;
    margin-right: -3%;
	}
	.cs-card-wrapper:first-child{
		padding-left: 3%;
	}
	.cs-card-wrapper:last-child{
		padding-right: 3%;
	}
}
@media(max-width:425px){
	.catalog-section{
		margin-top: 2.5rem;
	}
	.cs-card-wrapper{
		min-width: 180px;
	}
	.cs-barand-logo{
		height: 16px;
	}
	.cs-document{
		width: 20px;
		height: 20px;
		top: 15px;
	}
}

/* readmore-about */
.readmore-about{
	margin-top: 71px;
}
.ra-cards{
	width: 16.66%;
	flex: 0 0 16.66%;
	padding: 0 10px;
	margin-bottom: 3rem;
}
.ra-c-t{
	text-align: center;
	margin-top: 2.1rem;
	margin-bottom: 0;
}
.ra-t{
	margin-bottom: 2rem;
}
.ra-c-img{
	background: #F6F6F7;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
transition-property: background;
border-radius: 100%;
overflow: hidden;
}
.ra-c-img img{
	width: 100%;
	transform: scale(1.1);
}
.ra-cards:hover .ra-c-img{
background: #D92929;
}
.ra-cards:hover{
	text-decoration: none;
	}

@media(max-width:962px){
	.ra-cards{
		width: 25%;
		flex: 0 0 25%;
	}
}
	@media(max-width:520px){
	.ra-cards{
		width: 33.33%;
		flex: 0 0 33.33%;
	}
	.ra-c-t{
		margin-top: 1rem;
	}
}
@media(max-width:350px){
	.ra-cards{
		width: 50%;
		flex: 0 0 50%;
	}
}
@media(max-width:425px){
	.readmore-about{
		margin-top: 2.5rem;
	}
}
/* leaders-market */
.leaders-market{
	margin-top: 128px;
}
.lm-card{
	width: 16.66%;
	flex: 0 0 16.66%;
	padding: 0 10px;
	/* min-width: 150px; */
	margin-bottom: 20px;
}
.lm-logo{
	background: #FFFFFF;
box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.07);
border-radius: 2px;
height: 100px;
padding: 0 15px;
}
.leaders-market .container{
	margin-left: -10px;
	margin-right: -10px;
}
.lm-logo img{
	width: 100%;
	max-width: 120px;
	max-height: 35px;
}
.lm-t{
	margin-bottom: 2rem;
}
@media(max-width:1044px){
	.lm-logo{
		height: 80px;
	}
}
@media(max-width:778px){
	.lm-card{
		width: 25%;
		flex: 0 0 25%;
	}
}
@media(max-width:520px){
	.lm-card{
		width: 150px;
		flex: 0 0 150px;
	}
	.leaders-market .container{
		flex-wrap: nowrap;
		overflow-x: scroll;
		margin-left: -3%;
		margin-right: -3%;
	}
	.lm-logo{
		height: 65px;
	}
}