@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/npm/inter-ui@3.12.1/Inter (web)/Inter-Regular.woff2") format("woff2"), url("https://cdn.jsdelivr.net/npm/inter-ui@3.12.1/Inter (web)/Inter-Regular.woff") format("woff")
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/npm/inter-ui@3.12.1/Inter (web)/Inter-SemiBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/npm/inter-ui@3.12.1/Inter (web)/Inter-SemiBold.woff") format("woff")
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/npm/inter-ui@3.12.1/Inter (web)/Inter-Bold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/npm/inter-ui@3.12.1/Inter (web)/Inter-Bold.woff") format("woff")
}
